@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the GC Coffee Shop</h1>
    <p>
        Shop! <a href="/home/RegistrationForm">Register</a>
    </p>
    <p>Menu: <a href="/Product">Products</a></p>
    <p>Admin: <a href="/Admin">Edit Products</a></p>
</div>